# Ambiente virtual
venv/
virtual/

# Configurações de IDE
.vscode/
.idea/

# Arquivos de ambiente
.env

# Arquivos compilados Python
*.pyc
__pycache__/

# Arquivos de mídia (uploads)
media/
cardapio/

# Arquivos de log
*.log
