.nav-item a:hover {
    font-weight: 500;
    color: #ff5100;
}

h1 {
    color: #444;
}

.card-body {
    height: 200px;
    max-height: 200px;
    align-items: center;
}

.card-body:hover {
    background-color: #b0ea7d;
    transition: 0.3s;
}