.nav-item a:hover {
    font-weight: 500;
    color: #ff5100;
}

.navbar-nav .nav-item:hover {
  transform: scale(1.15);
  transition: 0.3s ease; /* Aumenta o tamanho em 15% */
}

h1 {
    color: #444;
}