{% extends 'base.html' %}

{% block content %}
<div class="container pt-4">
    <h3>Dashboard</h3>

    <div class="row">

        <div class="col-md-4">
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body d-flex justify-content-center align-items-center text-center">
                    <h3><i class="fa-solid fa-book-open fa-beat-fade"></i> Cardápio</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body d-flex justify-content-center align-items-center text-center">
                    <h3><i class="fa-solid fa-cart-arrow-down fa-beat-fade"></i> Pedidos</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body d-flex justify-content-center align-items-center text-center">
                    <h3><i class="fa-solid fa-boxes-stacked fa-beat-fade"></i> Estoque</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body d-flex justify-content-center align-items-center text-center">
                    <h3><i class="fa-solid fa-piggy-bank fa-beat-fade"></i> Financeiro</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body d-flex justify-content-center align-items-center text-center">
                    <h3><i class="fa-solid fa-users fa-beat-fade"></i> Clientes</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body d-flex justify-content-center align-items-center text-center">
                    <h3><i class="fa-solid fa-address-card fa-beat-fade"></i> Funcionários</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body d-flex justify-content-center align-items-center text-center">
                    <h3><i class="fa-solid fa-motorcycle fa-beat-fade"></i> Delivery</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body d-flex justify-content-center align-items-center text-center">
                    <h3><i class="fa-solid fa-file-lines fa-beat-fade"></i> Relatórios</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body d-flex justify-content-center align-items-center text-center">
                    <h3><i class="fa-solid fa-sliders fa-beat-fade"></i> Configurações</h3>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}